
/*  This file defines styles specific to Ireland template  */


#header h1
{
	margin:0px;
	background-image: url('/templates/ireland/img/xmaslogo.gif');
	height:74px;
	width:257px;
	cursor:pointer;
	cursor:hand;
}

#header h1 a
{
	display:none;
}

