/* Body class */

.gbody{
font-family: Georgia, Verdana, Arial;
background: #FBF9F9;
margin-top: 11px;
margin-bottom: 10px;
margin-right: 10px;
margin-left: 10px;
}

/* General smart tables class */

table.forums {
font-family: Georgia, Verdana, Arial;
width: 770px;
border: 1px #CCCCCC solid;
display: table;
color: #000000;
border-collapse: collapse;
} 

/* Simple transparent table without borders and background color (menu navigation, general tables) */

.tbTransparent{
font-family: Georgia, Verdana, Arial;
width: 770px;
background: transparent;
font-size: 11px;
line-height: 15px;
}

/* Small analog text, used usually with SPAN */

.txtSm{
font-family: Georgia, Verdana, Arial;
text-decoration: none;	
font-size: 10px;
}

/* Normal analog text, used usually with SPAN */

.txtNr{
font-family: Georgia, Verdana, Arial;
text-decoration: none;	
font-size: 11px;
}

/* Views color */

.views{
color:#9A9A9A;
}

/* Warning text */

.warning{
color: #225873;
font-family: Georgia, Verdana, Arial;
font-size: 11px;
font-weight: bold;
}

/* Supscript class */

.navCell{
font-family: Arial,Helvetica,Geneva,sans-serif;
font-size: 10px;
}

/* Class for select boxes */

.selectTxt {
font-family: Verdana,Arial, Helvetica, sans-serif;
font-size: 11px;
background-color: #FFFFFF;
}

/* List style - user's info */

.limbb{
list-style: circle;
font-size: 11px;
margin-left: 15px;
}

/* Input areas - boxes, textareas... */

.inputButton {
font-family: Georgia, Verdana, Arial;
background: #FFFFFF;
border-top: #CCCCCC 1px solid;
border-right: #CCCCCC 1px solid;
border-left: #CCCCCC 1px solid;
border-bottom: #CCCCCC 1px solid;
font-size: 10px;
color: #000000;
/* height: 19px; */
}

.textForm {
font-family: Georgia, Verdana, Arial;
background: #FFFFFF;
border-bottom: #CCCCCC 1px solid;
border-left: #CCCCCC 1px solid;
border-right: #CCCCCC 1px solid;
border-top: #CCCCCC 1px solid;
font-size: 11px;
}

/* Caption 1 (the one for displaying sub-headers like "topics, posted" etc) */

td.caption1 {
border: 1px #E3E3E3 solid;
font-size: 11px;
line-height: 15px;
padding-bottom: 1px;
padding-left: 5px;
padding-right: 5px;
padding-top: 2px;
}

/* Caption 2 color and properties (this one displaying main menu,  New Topic text bg, New Message text bg) */

td.caption2 {
background-color: #FFFFFF;
border: 1px #CCCCCC dotted;
padding: 4px;
height: 20px;
font-size: 11px;
font-weight: bold;
line-height: 15px;
}

/* Caption 3 (used for Last Discussions, topic titles, Forums selection) */

td.caption3 {
background-color: #F3F9FB;
padding: 3px;
height: 20px;
font-size: 11px;
line-height: 15px;
}

/* Caption 4 (the one for displaying not separate headers like Forum, Topic, Poster etc. on 1st page, Buttons menu, left info cell) */

td.caption4 {
background-color: #000066;
padding-bottom: 2px;
padding-left: 5px;
padding-right: 5px;
padding-top: 2px;
font-size: 11px;
font-weight: bold;
color: #FFFFFF;
line-height: 15px;
}

/* Caption 5 (used for user input like password/login and registration etc) */

td.caption5 {
background-color: #F6F9FB;
padding: 4px;
height: 20px;
font-size: 11px;
line-height: 15px;
}

/* Caption 6 (this one is for displaying title headers (search, stats, user reg/prefs) ) */

td.caption6 {
background-color: #F3F9FB;
border: 1px #E4EEF3 solid;
padding: 4px;
height: 18px;
font-size: 11px;
font-weight: bold;
}

/* Font for displaying username in each thread */

.username{
text-decoration: none;
font-size: 11px;
font-weight: bold;
}

/* Topics/forums/threads content cell color #1 */

.tbCel1{
background: #E9EFF4;
}

/* Topics/forums/threads content cell color #2 */

.tbCel2{
background: #F6F9FB;
}

.formStyle{
margin: 0px;
}

/* Stats bar */

.tbStBar{
border: #CCCCCC 1px solid;
margin: 1px;
padding: 1px;
background: #F0F0F0;
font-size: 11px;
}

div.maincontent A:link {
color: #006699;
text-decoration: none;
}

div.maincontent A:active {
color: #006699;
text-decoration: none;
}

div.maincontent A:visited {
color: #006699;
text-decoration: none;
}

div.maincontent A:hover {
color: #0083C5;
text-decoration: none;
}

table.forums div.photoguide {
	margin-left:0;
	margin-right:0;
	border-left:0;
	border-right:0;
	font-size:1.1em;
}

body {
	/* fix broken :hover in IEx, see http://www.kavoir.com/2009/01/css-table-hover-effects-for-tr-and-td.html */
	behavior:url("/js/csshover3.htc");
}
.caption1 .inapp {
	display:none;
}

.caption1:hover .inapp {
	display:inline;
}


