/*---------------------------------------------------------------*
 * Kudos to http://bluerobot.com/web/layouts/default.asp
 * for the 3 column layout
 *---------------------------------------------------------------*/

body
{
	font-family:Georgia, Verdana, Arial, serif;
	margin:0px;
	background: #eeeeff;
	font-size: 1em;
	padding:0px;
}

/* no border on hyperlinked images*/
a Img
{
	border:0;
}

.nowrap 
{

	white-space:nowrap;
}

/*---------------------------------------------------------------*
 * title header
 *---------------------------------------------------------------*/

/* header content placement*/
#header_block
{
	background:#000066;
	margin:0px;
}

/* header content interior */
#header
{
	
}

#header h1
{
	margin:0px;
	background-image: url('/templates/basic/img/logo.gif');
	height:74px;
	width:257px;
	cursor:pointer;
	cursor:hand;
}

#header h1 a
{
	display:none;
}

/* header content interior */
#header_sponsor
{
	position:absolute;
	top:0px;
	left:257px;
}

#header_sponsor h1
{
	margin:0px;
	background-image: url('/templates/basic/img/sponsor.gif');
	height:74px;
	width:257px;
}

#header_sponsor h1 a
{
	display:none;
}

/*---------------------------------------------------------------*
 * search block (incorporates login/register links)
 *---------------------------------------------------------------*/

#search_block {
	position:absolute;
	top:4px;
	right:0.4em;
	width:20em;
	background:#000066;
	text-align:right;
}

#search
{
	color:white;
	font-weight:bold;
}

#search form
{
	margin:0;
}

#login
{
	font-size:0.8em;
	color:white;
	font-weight:bold;
}

#login a
{
	color: #aaaaaa;
}

#login a:hover
{
	color: #eeeeee;
}



.searchinput {
	width:250px;
}

.disabledLabel {
	color:silver;
}

#browsepanel {
	margin:4px 10px 0px 10px;
	border:2px solid black;
	background-color:white;
	padding:10px;
	z-index:4;
}

/*---------------------------------------------------------------*
 * right navigation block
 *---------------------------------------------------------------*/


#right_block {
	position:absolute;
	width:190px;
	top:78px;
	right:10px;
	border:2px solid black;
	background-color:white;
	padding:10px;
	z-index:1;

	voice-family: "\"}\"";
	voice-family:inherit;
	width:168px;
	}
body>#right_block {width:168px;}

#right_block h3
{
	margin: 0 0 0.5em 0;
}

/*---------------------------------------------------------------*
 * left navigation block
 *---------------------------------------------------------------*/

#nav_block {
	position:absolute;
	width:150px;
	top:78px;
	left:10px;
	border:2px solid black;
	background-color:white;
	padding:10px;
	z-index:2;

	voice-family: "\"}\"";
	voice-family:inherit;
	width:128px;
	}
body>#nav_block {width:128px;}

.nav
{
	font-size:0.8em;
}

.nav ul
{
	margin:0;
	padding:0 0 0 1em;
}

.nav h3.newstitle
{
	font-weight:bold;
	margin: 0.8em 0 0 0;
}

.nav .newsbody
{
	font-size:0.8em;
}

.nav .newsfooter
{
	font-size:0.7em;
	color:silver;
}

/*---------------------------------------------------------------*
 * main content block
 *---------------------------------------------------------------*/

.content_photoblack
{
	background:black;
	position:relative;
	width:auto;
	min-width:120px;
	margin:4px 10px 0px 170px;
	
	border:2px solid black;
	z-index:3;
	color:silver;
}

.content_photoblack h2
{
	color:white;
	padding-left:10px;
	padding-top:10px;
	margin-bottom:0;
}

.content_photoblack h3
{
	margin-top:0;
	padding-left:10px;
	font-weight:normal;
	color:silver;
}



.content_photogray
{
	background:gray;
	position:relative;
	width:auto;
	min-width:120px;
	margin:4px 10px 0px 170px;
	
	border:2px solid black;
	z-index:3;
	color:silver;
}

.content_photogray h2
{
	color:lightgrey;
	padding-left:10px;
	padding-top:10px;
	margin-bottom:0;
}

.content_photogray h3
{
	margin-top:0;
	padding-left:10px;
	font-weight:normal;
	color:silver;
}

.content_photogray .searchresults a
{
	color:silver;
}

.content_photogray .searchresults a:visited
{
	color:#999999;
}



.content_photowhite
{
	background:white;
	position:relative;
	width:auto;
	min-width:120px;
	margin:4px 10px 0px 170px;
	
	border:2px solid black;
	z-index:3;
	color:black;
}

.content_photowhite h2
{
	color:black;
	padding-left:10px;
	padding-top:10px;
	margin-bottom:0;
}

.content_photowhite h3
{
	margin-top:0;
	padding-left:10px;
	font-weight:normal;
	color:silver;

}



/* All the content boxes belong to the content class. */
.content3 {
	position:relative;
	width:auto;
	min-width:120px;
	margin:4px 210px 0px 170px;
	border:2px solid black;
	background-color:white;
	padding:10px;
	z-index:3;
	}

.content2 {
	position:relative;
	width:auto;
	min-width:120px;
	margin:4px 10px 0px 170px;
	border:2px solid black;
	background-color:white;
	padding:10px;
	z-index:3;
	}

.content1 {
	position:relative;
	width:auto;
	min-width:120px;
	margin:4px 10px 0px 10px;
	border:2px solid black;
	background-color:white;
	padding:10px;
	z-index:3;
	}
	
/* main content interior */
#maincontent
{

}

#maincontent h2
{
	margin-top:0px;
}

/* form styles */
#maincontent form label
{
	font-size:0.8em;
}

span.formerror
{
	font-size:0.8em;
	color:red;
}

div.copyright
{
	font-size:0.7em; 
	color: silver;
	text-align:center;
	font-style:italic;
}

p.wordnet a
{
	white-space:nowrap;
	text-decoration: none;
}

p.wordnet a:hover
{
	text-decoration: underline;
}

div.caption
{
	clear:left;
	font-size:0.8em;
}
div.statuscaption
{
	clear:left;
	font-size:0.7em;
	color:silver;
}


div.rastermap {
  border: 1px solid #a9a9a9;
  padding: 4px;
  float:left;
  z-index:5;
  padding:10px;

}


/* styling for a full size portrait photo*/
div.photoportrait
{
	width:inherit;
	padding:10px;
	text-align:center;
	margin:10px;
}

/* styling for a full size landscape photo*/
div.photolandscape
{
	width:inherit;
	padding:10px;
	text-align:center;
	margin:10px;
}

.img-shadow img {
	/*
	width:100%;
	height:100%;
	max-width:640px;
	max-height:640px;
	*/
  	border: 1px solid #a9a9a9;
  	padding: 4px;
  }


/* styling for a 66% resized photo*/
div.photo66
{
	width:442px;
	padding:10px;
	border: silver 1px solid;
	text-align:center;
	margin:10px;
}



/* styling for a 33% resized photo*/
div.photo33
{
	width:233px;
	padding:10px;
	border: silver 1px solid;
	text-align:center;
	margin:10px;
	position:relative;
}

/* styling for a guide photo*/
div.photoguide
{
	width:650px;
	padding:10px;
	border: silver 1px solid;
	text-align:center;
	margin:10px;
	position:relative;
}


/*---------------------------------------------------------------*
 * inline sidebar
 *---------------------------------------------------------------*/

div.contentsidebar_block
{
	float:right;
	width:20em;
	background:#ddffdd;
	padding:0.5em;
}

div.contentsidebar ul
{
	margin:0;
	padding:0 0 0 1em;
}

div.contentsidebar li
{
	font-size:0.8em;
}

div.contentsidebar h3
{
	margin-top:0;
}

/*---------------------------------------------------------------*
 * report table
 *---------------------------------------------------------------*/

table.report thead tr
{
	background:black;
}
table.report thead tr td
{
	color:white;
	padding:0.2em;
	font-weight:bold;
}

table.report thead tr td a
{
	color:white;
}

table.report tbody tr td
{
	padding-left:0.2em;
	padding-right:0.2em;
}

table.report tbody tr.totalrow
{
	background: silver;
}

table.report tbody tr.totalrow th
{
	border-top: 1px solid black;
}

/*---------------------------------------------------------------*
 * form table
 *---------------------------------------------------------------*/

table.formtable td
{
	vertical-align:top;
}



table.formtable div.fieldnotes
{
	font-size:0.8em;
	color:#777799;
}

/*---------------------------------------------------------------*
 * picture info
 *---------------------------------------------------------------*/

div.picinfo
{
	background:#f0f0f0;
	font-size:0.7em;
	padding:5px;
	color:black;
}

div.picinfo td
{
	vertical-align:top;
}

/*---------------------------------------------------------------*
 * tickets
 *---------------------------------------------------------------*/

div.ticket
{
	background:#f0f0f0;
	margin-bottom:10px;
	border:1px solid #d0d0d0;
	font-size:0.7em;
}

div.ticket div.ticketbasics
{
	background:#d0d0d0;
	padding-left:5px;
}

div.ticket div.ticketactions input
{
	font-size:0.8em
}

div.ticket div.ticketnotes
{
	padding-left:5px;
	font-style:italic;
}

div.ticket div.ticketnote
{
	margin-bottom:10px;
}

div.ticket div.ticketfields
{
	padding-left:5px;
}

div.ticket div.ticketnotehdr
{
	font-style:normal;
}
/*---------------------------------------------------------------*
 * accept/reject buttons
 *---------------------------------------------------------------*/

input.accept
{
	font-size:0.7em;
	background:#88aa88;
}

input.reject
{
	font-size:0.7em;
	background:#aa8888;
}

.moderatedlabel
{
	color:#449944;
	font-weight:normal;
	font-size:0.7em;
}

/*---------------------------------------------------------------*
 * buttons for map nav
 *---------------------------------------------------------------*/

table.statstable td
{
	text-align:right;
}



/*---------------------------------------------------------------*
 * buttons for map nav
 *---------------------------------------------------------------*/

div.map div.cnr
{
	float:left;
	width:10px;
	height:10px;
	background:#000066;
	font-size:0;
}

div.map div.side
{
	float:left;
	height:10px;
	width:10px;
	background:#000066;
	line-height:0;
	text-align:center;
}


div.map div.side a
{
	display:block;
	height:100%;
}

div.map div.side a:hover
{
	background-color:#660066;
}

div.map div.inner
{
	float:left;
	background:#6574FF;
}

div.map div.inner img
{
	float:left;
}

/*---------------------------------------------------------------*
 *footer block
 *---------------------------------------------------------------*/

/* footer placement */
#footer_block
{
	border:0;margin-top:0;background:none;
}

/* main content interior */
#footer p
{
	font-size:0.7em;
	text-align:right;
	margin-top:0;
	margin-bottom:0;

}

#footer a
{
	text-decoration:none;
}

#footer a:hover
{
	text-decoration:underline;
}

/*---------------------------------------------------------------*
 * Search Results
 *---------------------------------------------------------------*/

.xml-kml {font: bold 10px Verdana, sans-serif; padding: 0 0.5em; border: 1px solid;
  text-decoration: none;
  background: #6AC23E; color: #FFF; border-color: #CAEABA #356020 #1B3010 #9CD77F;}

.xml-rss {font: bold 10px Verdana, sans-serif; padding: 0 0.5em; border: 1px solid;
  text-decoration: none;
  background: #F60; color: #FFF; border-color: #FFC8A4 #7D3302 #3F1A01 #FF9A57;}
  
.xml-geo {font: bold 10px Verdana, sans-serif; padding: 0 0.5em; border: 1px solid;
  text-decoration: none;
  background: #009900; color: #FFF; border-color: #FFC8A4 #7D3302 #3F1A01 #FF9A57;}

.xml-gpx {font: bold 10px Verdana, sans-serif; padding: 0 0.5em; border: 1px solid;
  text-decoration: none;
  background: #000099; color: #FFF; border-color: #FFC8A4 #7D3302 #3F1A01 #FF9A57;}

