#mapcontainer {
	position: relative;
	padding:10px;
	background-color:#000066;
	width:640px; 
	height:480px; 
}
#mapcontainer #mapbox {
	width:640px; 
	height:467px; 
	border: 1px;
	position: relative;
	
}
#mapcontainer #mapfooter {
	width:640px; 
	top: 467px;
	color: #fff;
	font: 10px sans-serif;
	height: 13px;
	background: #00f;
}

#mapcontainer #maplocation {
	right: 5px;
 	position: absolute; 
}