<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<HEAD><title>{$title}</title>
{$l_meta}
<LINK href="{$main_url}/bb_{$skin}_style.css" type="text/css" rel="STYLESHEET">
</HEAD>
<body class=gbody>
<form action="{$main_url}/{$indexphp}" method=post>
<div align=center>
<table class=forums>
<tr>
<td width="100%" valign=middle align=center>

<img src="{$static_url}/img/keypwd.gif" width=31 height=31 alt="">
<p>
{$l_forumProtected}:<br><br>

<input type=password maxlength=30 size=20 name="allForums" value="" class="textForm" style="width:200px;"><br><br>
<input type=submit value="{$l_enterforums}" class="inputButton" style="width:200px;">
<input type=hidden name=queryStr value="{$queryStr}">
</td>
</tr>
</table>
</div>
</form>
</body>
</html>
