<h1>Forum User Guide</h1>

<ol>
	<li><a href="#newposts">New topics and replies</a>
	<ul>
		<li><a href="#highlight">Automatic links highlighting</a>
		<li><a href="#bbcodes">BB Codes</a>
		<li><a href="#quoting">Quoting messages</a>
	</ul>
	<li><a href="#userlocktopic">Locking topics</a>
	<li><a href="#editmessage">Editing messages</a>
	<li><a href="#search">Forums search panel</a>
</ol>


<h2><a name="newposts">New topics and replies</a></h2>
<p>The new topic form is at the bottom of each forum listing page. Simply type
a title for your topic and the message you wish to post.</p>

<p>To reply to an existing topic, use the form at the end of the topic
listing</p>


<h3><a name="highlight">Automatic links highlighting</a></h3>
<p>If you are using links like http://www.minibb.net (beginning with "http://", "https://", "
ftp://", "www" or "mailto:"), they are automatically converted to "real" links. To prevent
this, check the "disable formatting" box.

<h3><a name="bbcodes">BB Codes</a></h3>
<p>You cannot include HTML in posts or topics. You can add basic formatting with
'BB codes' in a similar fashion to many other forums.</p>

<p>The following codes are supported</p>

<ul>
<li><b>[url=</b><i>http://www.mylink.com</i><b>]</b> <i>link text</i> <b>[/url]</b> will make
the <i>link text</i> hyperlinked to the given url.</li>


<li><b>[email=</b><i>person@whatever.com</i><b>]</b> <i>link text</i> <b>[/email]</b> will
make the <i>link text</i> hyperlinked to the given email address as a mailto: link</li>

<li><b>[img]</b> <i>http://www.foo.com/images/image.gif</i> <b>[/img]</b> where
<i>http://www.foo.com/images/image.gif</i> is the URL to an image file. You
can also use <b>[imgleft]</b> or <b>[imgright]</b> to align your image with the left
or right margin of your post.</li>

<li><b>[b]</b> <i>bold text</i> <b>[/b]</b> highlights the enclosed text in bold</li>

<li><b>[i]</b> <i>italic text</i> <b>[/i]</b> highlights the enclosed text in italics.</li>

<li><b>[u]</b> <i>underlined</i> <b>[/u]</b> underlines the enclosed text</li>

</ul>

<p>Note that when editing posts there are some handy buttons to help with
inserting these BB codes. Also, if you wish to disable BB codes, perhaps to
preserve some text which looks like a BB code, check the "disable formatting" box before
posting.</p>



<h2><a name="quoting">Quoting messages</a></h2>

<p>You can quickly quote from an existing message by highlighting the text you
wish to copy and clicking the "quote" link</p>

<p>Although there is no [quote] BB code, you can use italics [i] to highlight
quoted text.</p>

<h2><a name="userlocktopic">Locking topics</a></h2>
<p>Topic authors can lock their own topics, if they wish. At the bottom of the
topic's page he must see small "lock topic" link. If clicked, the topic is
closed and no further posts can be made to it.</p>

<p>Nobody except topic author or administrator can lock the topic. If the topic
was locked by admin, topic author will be unable to unlock it</p>

<h2><a name="editmessage">Editing messages</a></h2>
<p>Users can edit their messages after posting, but after a period of time
messages are frozen and cannot be edited. You cannot delete messages, but
you can remove all the text if necessary.</p>



<h2><a name="search">Forums search panel</a></h2>
<p>You can quickly search forums for keywords. While in the discussion area of the
site, the search box will search within topics and posts, and also let you
refine your search with more advanced options</p>

<p>Search results are sorted by post time in
descending order (new posts are shown first).</p>

<p>Note that the search term must be at least 3 characters long, and less then 100</p>

<p>From the search results you can refine your search with further options.
You can choose "match whole words" option which
means you will search only WHOLE words (if you type "nick", the sentences containing "nick" will
be found, but not words like "nickname" or "snickers"). Also, you can search within defined
period of days when posts were made. If you want to expand your search, it is always better to
set this to large amount, e.g. of 365 days. Note that searching for username is <b>NOT</b>
affected by this "search-within-days" option.</p>

<p>Search within specified forums is also available. You can either search in all forums or choose
a forum you want to search in.</p>




