# m h  dom mon dow   command  (0 - 6) (Sunday to Saturday)

##############################
# Manticore
# ... this retrieves the indexes to execute from the database

## just disabled until tested. want to amke sure it ok, before even enabling on staging!
##*/5 * * * *	    /usr/local/bin/indexer-wrapper.php

##############################
# Clear up Cruft (previous failed index attempts etc) 

30 1 * * *          find /var/lib/manticore/data/ -name '*.tmp*' -type f -mtime +1 -delete

########################
