1         *       * * *   /usr/bin/php /var/www/geograph_toy/scripts/fire-event.php --event=every_hour --priority=75

*/5       *       * * *   GET -HUser-Agent:geograph-cron "http://toy.geograph.org.uk/_scripts/process_events.php?start=1&max_execution=290&max_load=1.2"
