<br>
<div align=center>

<table class=tbTransparent>
<tr>
<td class=tbTransparent width="50%" valign=top><span class=txtNr><b>{$l_lastDiscussions}</b></span> <a title="RSS Feed for {$l_lastDiscussions}" href="/discuss/syndicator.php?sortBy={$sortBy}" class="xml-rss">RSS</a>
</td>
<td class=tbTransparent width="50%" align=right valign=top><nobr><span class=txtSm>{$l_sortedBy}&nbsp;{$sortedByT}.&nbsp;<a title="Change sort order" href="{$main_url}/{$indexphp}sortBy={$sortByNew}">{$l_sortBy}&nbsp;{$sortByT}</a></span></nobr>

<div class=txtSm style="text-align:right;border:1px solid red; background-color:pink; padding:2px; width:300px">
	TIP: Keep track of older topics by changing the sort order ^^^^<br/>
	change permanently on <a href="/profile.php?edit=1">your profile</a>
</div>

</td>
</tr>
</table>

<table class=forums>
<tr>
<td width="25" class=caption4><img src="{$static_url}/img/!pix.gif" width=25 height=1 alt=""></td>
<td width="60%" class=caption4>{$l_topic}</td>
<td width="5%" align=center class=caption4>&nbsp;{$l_replies}&nbsp;</td>
<td width="5%" align=center class=caption4>&nbsp;{$l_views}&nbsp;</td>
<td width="15%" align=center class=caption4>{$l_author}</td>
<td width="15%" align=center class=caption4>{$l_lastAuthor}</td>
</tr>

{$listTopics}

</table>
</div>

<p align="right"><a title="RSS Feed for {$l_lastDiscussions}" href="/discuss/syndicator.php?sortBy={$sortBy}" class="xml-rss">RSS</a></p>