/* qudos to https://codepen.io/andornagy/pen/RNeydj */

/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

body {
	background: #e4e4fc;
	color:black;

	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
	font-family: 'Source Sans Pro', sans-serif;
}

div#login { 
	position:absolute;
	top:62px;
	left:0;
	right:10px;
	text-align:right;
	color:white;
	z-index:1;
}
div#login a {
	color:yellow;
}

nav ul li#navsearch input {
	border-radius:10px;
	font-size:1em;
}

section#maincontent {
	margin-top:80px;
	padding:20px;
	padding-top:20px;
	background-color:white;
}

breadcrumb {
	display: block;
	color: #254441;
	padding-bottom:2px;
	border-bottom:1px solid #ddd;
	margin-bottom:5px;
}
breadcrumb a {
	color: #000066;
}

div#footer {
	margin-top: 2em;
        font-size: 0.8em;
	padding-top:1em;
        background-color: #000066;
	color:white;
	padding-bottom: 3em;
}
#footer_right {
    float: right;
    margin-right: 2em;
}
#footer_left {
    float: left;
    margin-left: 2em;
}
div#footer a {
	color:yellow;
}


h1,h2,h3,h4,h5 {
	font-family: Georgia;
}	

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	position:absolute;
	top:0;
	left:0;
	right:0;

	font-size:22px;
	line-height: 32px;
	color: #ffffff;

	margin:0;
	padding:0;
	background-color: #000066;
}

#logo {
	display: block;
	padding: 0 30px;
	float: left;
}
#logo a {
	padding:0;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: #254441;
	z-index:200;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { background: #000000; }

/* Background color change on Hover */
nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
nav ul li#navsearch {
	width:300px;
	padding:7px;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
nav li > a:after { content:  ' \25bc'; }
nav li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 900px) {

	#logo {
		display: block;
		padding: 0;
		text-align: center;
		float: right;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: #254441;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000000;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 1050px) {
	nav li#navhome {
		display:none;
	}
	nav a {
		padding-right:0px;
	}
}


@media all and (max-width : 330px) {

	section#maincontent {
		padding:10px;
	}

	nav ul li {
		display:block;
		width: 94%;
	}

}
