<div align=center>
<form name=postMsg action="{$main_url}/{$indexphp}" method=post class=formStyle>
<table class=forums>
<tr>
<td class=caption3 style="background-color:pink;">
<img src="/templates/basic/img/icon_alert.gif" alt="Modify" width="15" height="15" align="left" style="margin-right:5px"/> Public Image Collections - as these are public, extra care should be taken to keep content relevant.
</td>
</tr>
{$mainPostForm}

<tr>
<td class=caption5><INPUT TYPE=SUBMIT VALUE="{$l_sub_post_msg}" class=inputButton tabindex=5>
<input type=button value="Preview" class=inputButton onClick="prevThis();">
</td>
</tr>
</table>
<INPUT TYPE=HIDDEN NAME=action VALUE="pthread">
<INPUT TYPE=HIDDEN NAME=forum VALUE="{$forum}">
<INPUT TYPE=HIDDEN NAME=topic VALUE="{$topic}">
<INPUT TYPE=HIDDEN NAME=anchor VALUE="{$anchor}">
</form>
</div>