<br>
<div align="center">
<table class="tbTransparent">
<tr>
<td>
{$l_adminpanel_link}
<span class="txtSm">
Powered by <a target="_blank" title="Go miniBB website (in new window)" href="http://www.miniBB.net">miniBB {$version}</a> &copy; 2001-{$currY}
</span>
</td>
</tr>
</table>
</div>
</div>
</div>
<div id="nav_block">
 <div class="nav">
  <ul>
    <li style="font-size:1.42em"><a accesskey="1" title="Home Page" href="/">Home</a></li>
    <li>View<ul>
     <li><a title="Find images" href="/search.php">Search</a></li>
     <li><a title="View map of all submissions" href="/mapbrowse.php">Map</a></li>
     <li><a title="Explore Images by Theme" href="/explore/">Explore</a></li>
     <li><a title="Submitted Content" href="/content/">Content</a></li>
    </ul></li>
    <li>Interact<ul>
     <li><a title="Play Games" href="/games/">Games</a></li>
     <li><a title="Activities" href="/activities/">Activities</a></li>
     <li><a title="Discuss" href="/discuss/">Discuss</a></li>
     <li><a title="Chat" href="/chat/">Chat</a> <span style="color:gray">({$irc_seen} online)</span></li>
     <li><a title="Events" href="/events/">Events</a></li>
    </ul></li>
    <li>Contributors<ul>
     <li><a title="Submit" href="/submit.php">Submit</a></li>
     <li><a title="Statistics" href="/numbers.php">Statistics</a></li>
     <li><a title="Leaderboard" href="/statistics/moversboard.php">Leaderboard</a></li>
    </ul></li>
    <li>Further Info<ul>
     <li><a title="FAQ" href="/faq.php">FAQ</a></li>
     <li><a title="FAQ" href="/content/?docs&amp;order=title">Documents</a> <sup style="color:red">New!</sup></li>
     <li><a title="View All Pages" href="/help/sitemap">Sitemap</a></li>
     <li><a accesskey="9" title="Contact Us" href="/contact.php">Contact Us</a></li>
    </ul></li>
</ul>
<div style="text-align:center; padding-top:15px; border-top: 2px solid black; margin-top: 15px;">sponsored by <br/> <br/>
<a title="Geograph sponsored by Ordnance Survey" href="http://www.ordnancesurvey.co.uk/oswebsite/education/"><img src="http://{$static_host}/templates/basic/img/sponsor_small.gif" width="125" height="31" alt="Ordnance Survey" style="padding:4px;"/></a></div>
  </div>
</div>
<div id="search_block">
  <div id="search">
    <div id="searchform">
    <form method="get" action="/finder/discussions.php">
	<div id="searchfield"><label for="searchterm">Search Forum</label>
	<input id="searchterm" type="text" name="q" value="{$searchFor}" size="10"/>
	<input id="searchbutton" type="submit" value="Find"/></div>
	</form>
    </div>
  </div>
  <div id="login">
	{$user_login}
  </div>
</div>
<div id="footer_block">
  <div id="footer">
   <p><a href="/help/sitemap" title="Listing of site pages">Sitemap</a>
       <span class="sep">|</span>
       <a href="/help/credits" title="Who built this and how?">Credits</a>
       <span class="sep">|</span>
       <a href="/help/terms" title="Terms and Conditions">Terms of use</a>
       <span class="sep">|</span>
       <a href="http://validator.w3.org/check/referer" title="check our xhtml standards compliance">XHTML</a>
       <span class="sep">|</span>
       <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://{$static_host}/templates/basic/css/basic.css" title="check our css standards compliance">CSS</a>
    </p>
  </div>
</div>
</body>
</html>
