# m h  dom mon dow   command

##STEMMED

#every morning we update the stemmed indexes, (and the delta to prevent conflicts)
30 2 * * * /usr/local/bin/indexer --config /usr/local/etc/sphinx.conf gi_stemmed gi_delta_stemmed post_stemmed post_delta_stemmed --rotate

#then every hour update the delta indexes (and content is small so may as well update...)
05,20,35,50 * * * * /usr/local/bin/indexer --config /usr/local/etc/sphinx.conf gi_delta_stemmed post_delta_stemmed content_stemmed --rotate


#NON STEMMED (stemmed should be updated before the non)

#then update the main images one [only with a non stemmed]
45 2 * * * /usr/local/bin/indexer --config /usr/local/etc/sphinx.conf gridimage gi_delta --rotate

#then every hour update the delta index (and user is small may as well update...)
10,25,40,55 * * * * /usr/local/bin/indexer --config /usr/local/etc/sphinx.conf gi_delta user --rotate

