<div>
<h2>Forum Admin Panel</h2>
{$warning}



<h3>{$l_forums}</h3>
<ul>
<li><a href="{$main_url}/{$bb_admin}action=addforum1">{$l_addforum}</a></li>
<li><a href="{$main_url}/{$bb_admin}action=editforum1">{$l_editforum}</a></li>
</ul>

<h3>{$l_users}</h3>
<ul>
<li><a href="{$main_url}/{$bb_admin}action=searchusers">{$l_searchUsers}</a></li>
<li><a href="{$main_url}/{$bb_admin}action=banUsr1">{$l_ban}</a></li>
<li><a href="{$main_url}/{$bb_admin}action=deleteban1">{$l_unsetBan}</a></li>
</ul>

<h3>{$l_admin}</h3>
<ul>
<li><a href="/admin/latestposts.php">Latest first posts</a></li>
<li><a href="/admin/discuss_reports.php">Forum/Post Reports</a></li>
<li><a href="/admin/multimove.php">Move Posts between threads</a></li>
</ul>  



</div>
