<div style="max-width:80ch">
<h2>Admin: {$l_editforum}</h2>

<form name=forumform action="{$bb_admin}" method=post>

<script type="text/javascript">
var check;
function alertForumDelete(){
if (!check || check==0) check = 1;
else if (check == 1) check = 0;
if (check == 1) {
alert('Forum will be deleted WITHOUT prompt!\nAlso ALL topics and ALL posts associated with this forum\nWILL BE DELETED!!!');
}
}

function paste_strinL(strinL){ 
var input=document.forms["forumform"].elements["forumicon"];
input.value='';
input.value=strinL;
return false;
}

</script>

<b>{$warning}</b>

<h3>{$l_forumname}</h3>
<input type=text name=forumname value="{$forumname}" size=25 maxlength=255 style="width:100%; max-width:100%;">

<h3>{$l_forumdesc}</h3>
<textarea name=forumdesc cols=25 rows=5 class=textForm style="width:100%; max-width:100%;">{$forumdesc}</textarea>

<h3>{$l_forumIcon}</h3>
{$iconList}
<br>
<input type=text size=25 maxlength=255 name=forumicon value="{$forumicon}" style="width:100%; max-width:100%;">
<br>

<h3>{$l_forumorder}</h3>
<select name="forum_order" class=textForm>

{$forumorder}
</select>

<h3>{$l_deleteforum}</h3>
({$l_noAsking}): <input type=checkbox name=deleteforum onClick="JavaScript:alertForumDelete();">
<div class=warning><b>No asking twice - and your forum, all topics and posts in it WILL BE DELETED!!!</b></div>

<input type=hidden name=action value=editforum3>
<input type=hidden name=forumID value="{$forumID}">
<br>
<input type=submit value="{$l_editforum}" style="width:200px; max-width:100%; background-color: #b7e1cd;">

<hr>
<h3>{$l_fastforumspreview}</h3>
<p>Forums will be ordered this way on the first page:</p>
{$forumsPreview}


<br/>

</form>
</div>