<tr align=center class={$bg}>
<td valign=middle class=caption1 align=center><a href="{$main_url}/index.php?&action=vtopic&forum={$forum}"><img src="{$static_url}/img/forum_icons/{$forumIcon}" width=16 height=16 border=0 alt=""></a></td>
<td align=left class=caption1>{$topic_reverse}<a title="View topic" href="{$linkToTopic}">{$topic_title}</a> <small class=navCell>{$pageNavCell}</small></td>
<td class=caption1>{$numReplies}</td>
<td class=caption1><span class=views>{$topic_views}</span></td>
<td class=caption1>{$topicAuthor}<br><span class=txtSm>{$whenPosted}</span></td>
<td class=caption1>{$lastPoster}<br><span class=txtSm>{$lastPostDate}</span></td>
</tr>

