<br>

<div class="forum-recent-grid">

<div class="forum-recent-topics">{$l_lastDiscussions}</div>
<div class="forum-recent-rss"><a title="RSS Feed for {$l_lastDiscussions}" href="/discuss/syndicator.php?sortBy={$sortBy}" class="xml-rss">RSS</a></div>
<div class="forum-recent-sorted">{$l_sortedBy}&nbsp;{$sortedByT}</div>
<div class="forum-recent-reorder"><a title="Change sort order" href="{$main_url}/{$indexphp}sortBy={$sortByNew}">{$l_sortBy}&nbsp;{$sortByT}</a></div>

</div>

<div class="forum-thread-grid" style="background:#000066; color: white;">

<div class="forum-thread-icon"><img src="{$static_url}/img/!pix.gif" width=25 height=1 alt=""></div>
<div class="forum-thread-topic">{$l_topic}</div>
<div class="forum-thread-pages"></div>
<div class="forum-thread-views">{$l_views}</div>
<div class="forum-thread-replies">{$l_replies}</div>
<div class="forum-thread-author">{$l_author}</div>
<div class="forum-thread-lastpost">{$l_lastAuthor}</div>

</div>

{$listTopics}


<!--Fix me-->
<div style="float:right"><a href="/discuss/syndicator.php?first=1" class="xml-rss">New Topics RSS</a> <a href="/discuss/syndicator.php" class="xml-rss">Recent Discussion RSS</a> <a href="/discuss/syndicator.php?sortBy=1" class="xml-rss">Recent Topics RSS</a></div>
<!--<p><a href="/discuss/promoted.php?order=a.created">Upcoming Promoted Posts</a> (<a href="/discuss/promoted.php?read=1">All</a>)</p-->
