<div class="forum-post-grid">
  <div class="forum-post-header"><div class="forum-inline"><div class="forum-post-datetime">{$postDate}<small>{$editedBy}</small></div><div class="forum-post-editpost">{$allowed}</div><div class="forum-post-postid"><a href="{$urlp}{$page}#{$anchor}" title="link to this post">{$page}#{$anchor}</a></div></div></div>
  <div class="forum-post-user"><div class="forum-inline"><div class="forum-post-username"><a title="Paste username into reply" name="{$anchor}" href="#" onclick="return paste_strinL('{$posterNameJS}',2)">{$posterName}</a></div><div class="forum-post-role">{$viewReg}</div></div><div class="forum-post-ip">{$viewIP}</div></div>
  <div class="forum-post-post">{$posterText}</div>  
  <div class="forum-post-footer"><div class="forum-inline"><div class="forum-post-quote"><script type="text/javascript">getQuotation();</script></div><div class="forum-post-reportpost"><a href="report.php?topic={$topic}&amp;post={$postID}">Report</a></div></div></div>
</div>
<br/>