<script type="text/javascript">
<!--

function paste_strinL(strinL,isQuote){
if(strinL=='' && isQuote==1) alert('First highlight the text you wish to quote, then click the \'quote\' link');
else{
if (isQuote==1) {
strinL='[i]'+strinL+'[/i]'+'\n';
}
if (isQuote==2) {
strinL='[b]'+strinL+'[/b]'+'\n';
}
var isForm=document.forms["postMsg"];
if (isForm) {
var input=document.forms["postMsg"].elements["postText"];
input.value=input.value+strinL;
}
else alert('{$l_accessDenied}');
}
return false;
}

document.addEventListener('selectionchange', function (event) {
	 window.selection=document.getSelection();
});

function getQuotation() {
	if (document.getSelection) {
		document.writeln('<a href="#" onclick="return paste_strinL(window.selection,1)">{$l_quoting}<'+'/a>');
	}
}

function confirmDelete(id,what){
var mes,url='forum={$forum}&topic={$topic}&';
if(what==0) { mes='{$l_areYouSureDeletePost}'; url=url+'action=delmsg&page={$page}&post='+id; } else { mes='{$l_areYouSureDeleteTopic}'; url=url+'action=deltopic'; }
if(confirm(mes))
document.location='{$main_url}/{$indexphp}'+url;
}

//-->
</script>

<!--Forum topic name and breadcrumbs-->

<div class="forum-post-titlebox">
<div class="forum-post-title">{$topic_reverse}{$topicName}</div>


<div class="forum-post-breadcrumbs"><img src="{$static_url}/img/forum_icons/{$forumIcon}" width=16 height=16 alt="">&nbsp;&nbsp;<a title="Forum Listing" href="{$main_url}/{$indexphp}">{$sitename}</a> &gt; <a title="Topic listing for {$forumName}" href="{$linkToForums}">{$forumName}</a></div>

<div class="forum-post-pages">{$pageNav}</div>


</div>


{$gridThumbs}

  
<!--Pulls in main_posts_cell.html -->
<div class="forum-post-posts">{$listPosts}</div>

<div class="forum-post-pages">{$pageNav}</div>


<a name=newreply></a>

<!--Pulls in main_post_area.html (and within it main_post_form.html)-->
<div class="forum-post-reply">{$mainPostArea}</div>





{$muteTopic} {$closeTopic} {$moveTopic} {$deleteTopic} {$stickyTopic} {$subsTopic}



{$forumsList}


<div align=right><a title="RSS Feed for this Topic" href="/discuss/syndicator.php?topic={$topic}" class="xml-rss">RSS</a></div>

<script language="JavaScript">
function prevThis(){
var pT,tT,cT;
pT=document.forms['postMsg'].elements['postText'].value;
if(document.forms['postMsg'].elements['topicTitle']) tT=document.forms['postMsg'].elements['topicTitle'].value;
else if(document.forms['postMsg'].elements['postTopic']) tT=document.forms['postMsg'].elements['postTopic'].value;
else tT='';
if(document.forms['postMsg'].elements['disbbcode'].checked) cT=1; else cT=0;
window.open('', 'cWin2', 'resizable=yes, scrollbars=yes, width=850, height=300, top=0, left=100');
document.forms['postMsgPrev'].elements['topicTitle'].value=tT;
document.forms['postMsgPrev'].elements['postText'].value=pT;
document.forms['postMsgPrev'].elements['disbbcode'].value=cT;
document.forms['postMsgPrev'].submit();
}
</script>
<form action="{$indexphp}" name=postMsgPrev method=post target="cWin2">
<input type=hidden name=postText>
<input type=hidden name=topicTitle>
<input type=hidden name=disbbcode>
<input type=hidden name=prevForm value=1>
</form>
