<script type="text/javascript">
<!--
function paste_strinL(strinL){
var input=document.postMsg.elements["postText"];
input.value=input.value+strinL;
return false;
}
//-->
</script>


<div class="forum-topics-grid">

<div class="forum-topics-topic">{$forumName}</div>
<div class="forum-topics-breadcrumbs"><a title="Forum Listing" href="{$main_url}/{$indexphp}">{$sitename}</a> | {$forumName}&nbsp;<img src="img/forum_icons/{$forumIcon}" class="forum-icons" alt=""></div>
<div class="forum-topics-description">{$forumDesc}</div>
<div class="forum-topics-sorting">{$l_sortedBy}&nbsp;{$sortedByT}<br/><a title="Change sort order" href="{$main_url}/{$indexphp}action=vtopic&amp;forum={$forum}&amp;sortBy={$sortByNew}">{$l_sortBy}&nbsp;{$sortByT}</a></div>
<div class="forum-topics-pages">{$pageNav}</div>

</div>

<div class="forum-thread-grid" style="background:#000066; color: white;">

<div class="forum-thread-icon"></div>
<div class="forum-thread-topic">{$l_topic}</div>
<div class="forum-thread-pages"></div>
<div class="forum-thread-views">{$l_views}</div>
<div class="forum-thread-replies">{$l_replies}</div>
<div class="forum-thread-author">{$l_author}</div>
<div class="forum-thread-lastpost">{$l_lastAuthor}</div>

</div>


  
{$list_topics}

  
<br/>
<b>{$pageNav}</b>
<br style="clear:both;"/><br/>
<p align=right><a title="Gallery RSS feed" href="/discuss/syndicator.php?forum={$forum}" class="xml-rss">RSS</a></p>

<br/><br/>


<div class="forum-warning-grid" style="background-color:#E9EFF4;">
<div class="forum-warning-icon">&#x2386;</div>
<div class="forum-warning-message"><a href="/login.php">Login</a> to Create a New Gallery</div>
</div>
<br style="clear:both"/>