<div class="forum-post-reply-header">
{$l_messageABC}
  
<div class="forum-post-reply-help">
<a href="/help/bbcodes" target="_blank">Help</a>
</div>
</div>
<br/>
<div class="forum-post-reply-formatting">
  
<div class="forum-post-reply-icons-grid">
<div class="forum-post-reply-icons-group1">
  
<a title="Insert bold tags" href="#" onclick="return paste_strinL('[b][/b]',0,'text [b]<b>bold text</b>[/b] more')"><img src="img/compose_bold.jpg" class="forum-icons" alt="Bold style"></a>

<a title="Insert italic tags"  href="#" onclick="return paste_strinL('[i][/i]',0,'text [b]<i>italic text</i>[/b] more')"><img src="img/compose_italics.jpg" class="forum-icons" alt="Italic style"></a>

<a title="Insert underline tags" href="#" onclick="return paste_strinL('[u][/u]',0,'text [b]<u>underlined text</u>[/b] more')"><img src="img/compose_underline.jpg" class="forum-icons" alt="Underlined Style"></a>

<a title="Insert blockquote" href="#" onclick="return paste_strinL('[blockquote][/blockquote]',0,'text [blockquote]indented block<br>another<br>more lines[/blockquote] more')"><img src="img/compose_blockquote.jpg" class="forum-icons" alt="Insert blockquote link"></a>
  
<a title="Insert code block" href="#" onclick="return paste_strinL('[code][/code]',0,'text [code]<pre>monospace text block<br>1  2   3  4<br>5      3  4</pre>[/code] more')"><img src="img/compose_code.jpg" class="forum-icons" alt="Insert code snippet link"></a>

</div>
<div class="forum-post-reply-icons-group2">  
  
<a title="Insert Geograph image thumbnail" href="#" onclick="return paste_strinL('[[[]]]',0,'text [[[<b>1234</b>]]] more')"><img src="img/compose_image_small.jpg" class="forum-icons" alt="Geograph thumbnail link"></a>

<a title="Insert Geograph image large thumbnail" href="#" onclick="return paste_strinL('[image id=]',0,'text [image id=<b>1234</b>] more')"><img src="img/compose_image_large.jpg" class="forum-icons" alt="Geograph large thumb link"></a>

<a title="Insert Geograph image or grid reference link" href="#" onclick="return paste_strinL('[[]]',0,'text [[[<b>TQ7040</b>]]] more')"><img src="img/compose_twobracket.jpg" class="forum-icons" alt="Grid reference or image Link"></a>

<a title="Insert URL link tags" href="#" onclick="return paste_strinL('[url=][/url]',0,'text [url=<tt>https://example.com/</tt>]<u>text to display</u>[/url] more')"><img src="img/compose_hyperlink.jpg" class="forum-icons" alt="Insert URL"></a>

<a title="Insert image link tags" href="#" onclick="return paste_strinL('[img][/img]',0,'text [img]<u>https://example.com/image.png</u>[/img] more')"><img src="img/compose_image_ext.jpg" class="forum-icons" alt="External image link"></a>

</div>
<div class="forum-post-reply-icons-noformatting">
<span id="example-text"></span>
<div class="forum-hidden">
<input type="checkbox" name="disbbcode" id="disbbcode" value="on"><label for="disbbcode">{$l_disableBbCode}</label>
</div>
</div>
</div>
</div>

<br/>

<div id="marked-block"></div>

<script type="text/javascript">
function setupMarkedList() {
	var current = readCookie('markedImages')
	if (current && current != '') {
		var splited = current.commatrim().split(',');
		var html_links = '<div class="forum-markedimages-grid"><div class="forum-markedimages-header">Marked Images</div>';
		html_links = html_links + '<div class="forum-markedimages-images"><a title="Insert marked image list" href="#" onclick="return paste_strinL(returnMarkedImages(),0)"><img src="img/compose_image_small.jpg" class="forum-icons" alt="Geograph thumbnail link"></a>';
		if (splited.length<=5)
			html_links = html_links + ' <a title="Insert as large thumbnail(s)" href="#" onclick="return pasteBigImages()" onMouseOver="window.status=\'Insert marked image list\'; return true" onMouseOut="window.status=\'\'; return true"><img src="img/compose_image_large.jpg" class="forum-icons" alt="Geograph thumbnail link"></a>';
		html_links = html_links + '</div><div class="forum-markedimages-count">['+(splited.length+0)+']&nbsp;&nbsp;<a href="javascript:void(clearMarkedImages())" style="color:red">Clear list</a></div></div>';
		document.getElementById('marked-block').innerHTML = html_links;
	}
}
AttachEvent(window,'load',setupMarkedList,false);

function pasteBigImages() {
	var newstr = returnMarkedImages();
	newstr = newstr.replace(/ /g,"\n").replace(/\[\[\[/g,'[image id=').replace(/\]\]\]/g,']');
	paste_strinL(newstr,0);
	return false;
}

function unloadMess() {
	var ele = document.forms['postMsg'].elements['postText'];
	if (ele.value == ele.defaultValue) {
		return;
	}
	return "**************************\n\nYou have unsaved changes in the message box.\n\n**************************\n";
}
window.onbeforeunload=unloadMess;

function cancelMess() {
	window.onbeforeunload=null;
}
function setupSubmitForm() {
	AttachEvent(document.forms['postMsg'],'submit',cancelMess,false);
}
AttachEvent(window,'load',setupSubmitForm,false);
</script>

<div class="forum-post-reply-textbox">
<textarea name=postText rows=12 class=textForm tabindex=2 required>{$postText}</textarea>
</div>
  
<div class="forum-post-reply-subscribe">
{$emailCheckBox}
</div>
{$loginLogout}

