<style>
.forum-post-grid {
  display: grid;
  grid-template-areas:
    'forum-post-header forum-post-header'
    'forum-post-user forum-post-post'
  grid-template-rows: max-content max-content max-content;  
  grid-template-columns: 18ch 1fr;
  grid-row-gap: 2px;
  grid-column-gap: 5px;
  margin: 0;
}

@media all and (max-width: 800px) {
  .forum-post-grid {
  grid-template-areas: 
      "forum-post-header"
      "forum-post-user"
      "forum-post-post"
  grid-template-rows: max-content max-content max-content max-content;  
  grid-template-columns: 1fr;
  }
}
.forum-post-footer {
  display: none;
  }
</style>
<script type="text/javascript">
<!--

function paste_strinL(strinL,isQuote){
if(strinL=='' && isQuote==1) alert('First highlight the text you wish to quote, then click the \'quote\' link');
else{
if (isQuote==1) {
strinL='[i]'+strinL+'[/i]'+'\n';
}
if (isQuote==2) {
strinL='[b]'+strinL+'[/b]'+'\n';
}
var isForm=document.forms["postMsg"];
if (isForm) {
var input=document.forms["postMsg"].elements["postText"];
input.value=input.value+strinL;
}
else alert('{$l_accessDenied}');
}
return false;
}

document.addEventListener('selectionchange', function (event) {
	 window.selection=document.getSelection();
});

function getQuotation() {
	if (document.getSelection) {
		document.writeln('<a href="#" onclick="return paste_strinL(window.selection,1)">{$l_quoting}<'+'/a>');
	}
}

function confirmDelete(id,what){
var mes,url='forum={$forum}&topic={$topic}&';
if(what==0) { mes='{$l_areYouSureDeletePost}'; url=url+'action=delmsg&page={$page}&post='+id; } else { mes='{$l_areYouSureDeleteTopic}'; url=url+'action=deltopic'; }
if(confirm(mes))
document.location='{$main_url}/{$indexphp}'+url;
}

//-->
</script>
<a name="pagetop">

<!--Forum topic name and breadcrumbs-->

<div class="forum-post-titlebox-grid">
<div class="forum-post-titlebox-title">{$topic_reverse}{$topicName}</div>


<div class="forum-post-titlebox-breadcrumbs"><img src="img/forum_icons/{$forumIcon}" class="forum-icons" alt="">&nbsp;&nbsp;<a title="Forum Listing" href="{$main_url}/{$indexphp}">{$sitename}</a> &gt; <a title="Topic listing for {$forumName}" href="{$linkToForums}">{$forumName}</a></div>

<div class="forum-post-titlebox-pages">{$pageNav}</div>
  
<div class="forum-post-titlebox-navigation"><a href="#pagetop"><img src="img/arrowup.jpg" class="forum-icons" alt="Up arrrow" title="Go to top"></a>&nbsp;<a href="#newreply"><img src="img/arrowdown.jpg" class="forum-icons" alt="Down arrrow" title="Go to end"></a></div>

</div>


{$gridThumbs}

  
<!--Pulls in main_posts_cell.html -->
<div class="forum-post-posts">{$listPosts}</div>

<div class="forum-post-pages">{$pageNav}</div>

<div class="forum-search-grid">  
<div class="forum-search-search">
<ul class="buttonbar">

<div class="buttonbar-dropdown">
  <button>View images in the search &#9660;</button>
  <div class="buttonbar-dropdown-content">
    <b>In posted order</b>
				<a href="/search.php?do=1&amp;topic_id={$topic}&amp;orderby=post_id,seq_id&amp;displayclass=full">Full details</a>
        <a href="/search.php?do=1&amp;topic_id={$topic}&amp;orderby=post_id,seq_id&amp;displayclass=thumbs">Thumbnails</a>
        <a href="/search.php?do=1&amp;topic_id={$topic}&amp;orderby=post_id,seq_id&amp;displayclass=thumbsmore">Thumbnails + links</a>
        <a href="/search.php?do=1&amp;topic_id={$topic}&amp;orderby=post_id,seq_id&amp;displayclass=bigger">Thumbnails - bigger</a>
        <a href="/search.php?do=1&amp;topic_id={$topic}&amp;orderby=post_id,seq_id&amp;displayclass=grid">Thumbnails grid</a>
        <a href="/search.php?do=1&amp;topic_id={$topic}&amp;orderby=post_id,seq_id&amp;displayclass=slide">Slideshow</a>
        <a href="/search.php?do=1&amp;topic_id={$topic}&amp;orderby=post_id,seq_id&amp;displayclass=map">Map</a>
        <a href="/search.php?do=1&amp;topic_id={$topic}&amp;orderby=post_id,seq_id&amp;displayclass=black">Georiver</a>
  </div>
</div>
</ul>
</div>  
<div class="forum-search-rss">
<a title="View these images in Google Earth" href="/search.php?do=1&amp;orderby=post_id,seq_id&amp;topic_id={$topic}&amp;kml" class="xml-kml">KML</a>
<a title="RSS Feed for images" href="/search.php?do=1&amp;topic_id={$topic}&amp;orderby=post_id,seq_id&amp;reverse_order_ind=1&amp;rss" class="xml-rss">photo RSS</a>
<a title="RSS Feed for this Topic" href="/discuss/syndicator.php?topic={$topic}" class="xml-rss">gallery RSS</a>
</div>

</div>

<div class="forum-warning-grid" style="background-color:silver">
<div class="forum-warning-icon">&#x2386;</div>
<div class="forum-warning-message">If you would like to contribute to this gallery, you will need to <a href="/login.php">login</a> to be able to compose a new post.</div>
</div>
<br style="clear:both"/>
  

<div class="forum-warning-grid" style="background-color:#E9EFF4;">
<div class="forum-warning-icon">&#x1f50d;</div>
<div class="forum-warning-message"><a title="View other {$forumName}" href="{$linkToForums}">View other {$forumName}</a> on the <a title="Geograph Homepage" href="/">Geograph Website.</div>
</div>
<br style="clear:both"/>
<br style="clear:both"/>