<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<HEAD><title>{$title}</title>
{$l_meta}
<META NAME="Description" CONTENT="Free/GPL universal PHP-based forums engine for real minimalists. Small, simple, fast and powerful. Find more on minibb.net!"> 
<META NAME="Keywords" CONTENT="discussion,forum,engine,conference,free,php,mysql,database"> 
<META NAME="Document-state" CONTENT="Dynamic">
<META NAME="Resource-type" CONTENT="document"> 
<meta name="Author" content="Paul Puzyrev, Sergei Larionov">
<LINK href="{$main_url}/bb_{$skin}_style.css" type="text/css" rel="STYLESHEET">
</HEAD>
<body class=gbody>
<div align=center>

<table class=forums>
<tr>
<td class=tbTransparent style="line-height:40px;"><a href="http://www.minibb.net"><img src="{$main_url}/img/!pix.gif" height="42" width="10" border=0 alt="miniBB: The Bulletin Bird"><img src="{$main_url}/img/logo.gif" width="136" height="42" border=0 alt="miniBB: The Bulletin Bird"></a></td>
</tr>

<tr>
<td class=caption2><b>&nbsp;{$l_sepr}{$l_menu[0]}{$l_menu[7]}{$l_menu[3]}{$l_menu[2]}{$l_menu[1]}{$l_menu[4]}{$l_menu[5]}{$l_menu[6]}{$l_sepr}</b></td>
</tr>
</table>
<br>
</div>
