<div class="forum-post-reply">
<div class="forum-post-reply-header">
{$l_messageABC}
</div>

<div class="forum-post-reply-help">
<a href="/help/bbcodes" target="_blank">[Help - How to format posts including inserting images and links]</a>
</div>

<div class="forum-post-reply-formatting">
<a title="Insert bold tags" href="#" onclick="return paste_strinL('[b][/b]',0)" onMouseOver="window.status='Bold Style'; return true" onMouseOut="window.status=''; return true"><img src="{$static_url}/img/button_bold.gif" width="23" height="22" alt="Bold style" border="0"></a>&nbsp;

<a title="Insert italic tags"  href="#" onclick="return paste_strinL('[i][/i]',0)" onMouseOver="window.status='Italic Style'; return true" onMouseOut="window.status=''; return true"><img src="{$static_url}/img/button_italic.gif" width="23" height="22" alt="Italic style" border="0"></a>&nbsp;

<a title="Insert underline tags" href="#" onclick="return paste_strinL('[u][/u]',0)" onMouseOver="window.status='Underlined Style'; return true" onMouseOut="window.status=''; return true"><img src="{$static_url}/img/button_underlined.gif" width="23" height="22" alt="Underlined Style" border="0"></a>&nbsp;

<a title="Insert URL link tags" href="#" onclick="return paste_strinL('[url=][/url]',0)" onMouseOver="window.status='Insert URL'; return true" onMouseOut="window.status=''; return true"><img src="{$static_url}/img/button_url.gif" width="23" height="22" alt="Insert URL" border="0"></a>&nbsp;

<a title="Insert email link tags" href="#" onclick="return paste_strinL('[email=][/email]',0)" onMouseOver="window.status='Email Link'; return true" onMouseOut="window.status=''; return true"><img src="{$static_url}/img/button_email.gif" width="23" height="22" alt="Email link" border="0"></a>&nbsp;

<a title="Insert blockquote" href="#" onclick="return paste_strinL('[blockquote][/blockquote]',0)" onMouseOver="window.status='Insert blockquote'; return true" onMouseOut="window.status=''; return true"><img src="{$static_url}/img/button_email.gif" width="23" height="22" alt="Insert blockquote link" border="0"></a>&nbsp;

<a title="Insert code block" href="#" onclick="return paste_strinL('[code][/code]',0)" onMouseOver="window.status='Insert code snippet'; return true" onMouseOut="window.status=''; return true"><img src="{$static_url}/img/button_email.gif" width="23" height="22" alt="Insert code snippet link" border="0"></a>&nbsp;

<a title="Insert Geograph image or grid reference link" href="#" onclick="return paste_strinL('[[]]',0)" onMouseOver="window.status='Geograph image or gridref link'; return true" onMouseOut="window.status=''; return true"><img src="{$static_url}/img/button_image.gif" width="23" height="22" alt="Grid reference or image Link" border="0"></a>&nbsp;

<a title="Insert Geograph image thumbnail" href="#" onclick="return paste_strinL('[[[]]]',0)" onMouseOver="window.status='Geograph thumbnail link'; return true" onMouseOut="window.status=''; return true"><img src="{$static_url}/img/button_image.gif" width="23" height="22" alt="Geograph thumbnail link" border="0"></a>&nbsp;

<a title="Insert Geograph image large thumbnail" href="#" onclick="return paste_strinL('[image id=]',0)" onMouseOver="window.status='Geograph large thumbnail link'; return true" onMouseOut="window.status=''; return true"><img src="{$static_url}/img/button_image.gif" width="23" height="22" alt="Geograph large thumb link" border="0"></a>&nbsp;

<a title="Insert image link tags" href="#" onclick="return paste_strinL('[img][/img]',0)" onMouseOver="window.status='External image link'; return true" onMouseOut="window.status=''; return true"><img src="{$static_url}/img/button_image.gif" width="23" height="22" alt="External image link" border="0"></a>&nbsp;

</div>
<div class="forum-post-reply-noformatting">
<input type="checkbox" name="disbbcode" id="disbbcode" value="on"><label for="disbbcode">{$l_disableBbCode}</label>

  
</div>




<script type="text/javascript">
var current = readCookie('markedImages')
if (current && current != '') {
	var splited = current.commatrim().split(',');
	var html_links = '<div style="border: 1px solid lightgrey;">Marked Images['+(splited.length+0)+']: ';
	html_links = html_links + '<a title="Insert marked image list" href="#" onclick="return paste_strinL(returnMarkedImages(),0)"><b>Insert into Post</b></a>';
	if (splited.length<=5)
		html_links = html_links + ' (<a title="Insert as large thumbnail(s)" href="#" onclick="return pasteBigImages()" onMouseOver="window.status=\'Insert marked image list\'; return true" onMouseOut="window.status=\'\'; return true">As Large Images</a>)';
	html_links = html_links + ' ... <a href="javascript:void(clearMarkedImages())" style="color:red">Clear list</a> once used</div>';
	document.write(html_links);
}
function pasteBigImages() {
	var newstr = returnMarkedImages();
	newstr = newstr.replace(/ /g,"\n").replace(/\[\[\[/g,'[image id=').replace(/\]\]\]/g,']');
	paste_strinL(newstr,0);
	return false;
}

function unloadMess() {
	var ele = document.forms['postMsg'].elements['postText'];
	if (ele.value == ele.defaultValue) {
		return;
	}
	return "**************************\n\nYou have unsaved changes in the message box.\n\n**************************\n";
}
window.onbeforeunload=unloadMess;

function cancelMess() {
	window.onbeforeunload=null;
}
function setupSubmitForm() {
	AttachEvent(document.forms['postMsg'],'submit',cancelMess,false);
}
AttachEvent(window,'load',setupSubmitForm,false);
</script>

<div class="forum-post-reply-textbox">
<textarea name=postText rows=12 class=textForm tabindex=2 required>{$postText}Note to dsp: Replace icons with larger variants and additional designs</textarea>
</div>
  
<div class="forum-post-reply-subscribe">
{$emailCheckBox}
</div>
{$loginLogout}




</div>