<div class="forum-thread-grid">

<div class="forum-thread-icon"><a href="{$main_url}/index.php?&action=vtopic&forum={$forum}"><img src="{$static_url}/img/forum_icons/{$forumIcon}" width=16 height=16 border=0 alt=""></a></div>
<div class="forum-thread-topic">{$topic_reverse}<a title="View topic" href="{$linkToTopic}">{$topic_title}</a></div>
<div class="forum-thread-pages">{$pageNavCell}</div>
<div class="forum-thread-views">{$topic_views} <wbr>&#x1f441;</div>
<div class="forum-thread-replies">{$numReplies} <wbr>&#x21a9;</div>
<div class="forum-thread-author"><div class="forum-thread-user">{$topicAuthor}</div><div class="forum-thread-posttime">{$whenPosted}</div></div>
<div class="forum-thread-lastpost"><div class="forum-thread-user">{$lastPoster}</div><div class="forum-thread-posttime">{$lastPostDate}</div></div>

</div>