<script type="text/javascript">
<!--
function paste_strinL(strinL){
var input=document.postMsg.elements["postText"];
input.value=input.value+strinL;
return false;
}
//-->
</script>

<div align=center>

<table class=forums>
<tr>
<td width=25 class=caption3 align=center><img src="{$static_url}/img/!pix.gif" width=4 height=1 alt=""><img src="{$static_url}/img/forum_icons/{$forumIcon}" width=16 height=16 alt=""><img src="{$static_url}/img/!pix.gif" width=5 height=1 alt=""></td>
<td valign=top class=caption3><b><a title="Forum Listing" href="{$main_url}/{$indexphp}">{$sitename}</a></b> / <b>{$forumName}</b></td>
<td align=right valign=top width="40%" class=caption3><span class=txtSm>{$l_sortedBy}&nbsp;{$sortedByT}.&nbsp;<a title="Change sort order" href="{$main_url}/{$indexphp}action=vtopic&amp;forum={$forum}&amp;sortBy={$sortByNew}">{$l_sortBy}&nbsp;{$sortByT}</a></span></td>
</tr>
</table>

<table class=tbTransparent>
<tr><td class=tbTransparent><span class=txtSm><b>{$pageNav}</b></span></td></tr>
</table>

<table class=forums>
<tr>
<td width="25" class=caption4><img src="{$static_url}/img/!pix.gif" width=25 height=1 alt=""></td>
<td width="70%" class=caption4>{$l_topic}</td>
<td width="40" align=center class=caption4>{$l_replies}</td>
<td width="40" align=center class=caption4>&nbsp;{$l_views}&nbsp;</td>
<td width="15%" align=center class=caption4>{$l_author}</td>
<td width="15%" align=center class=caption4>{$l_lastAuthor}</td>
</tr>

{$list_topics}

</table>

<table class=tbTransparent>
<tr><td class=tbTransparent><span class=txtSm><b>{$pageNav}</b></span></td></tr>
</table>

<a name=newtopic></a>
<form action="{$main_url}/{$indexphp}" name=postMsg method=post class=formStyle>
<table class=forums>
<tr>
<td class=caption2>{$l_new_topic}</td>
</tr>
<tr>
<td class="caption5">
<input type="hidden" name="action" value="ptopic"/>
<input type="hidden" name="forum" value="{$forum}"/>
<label for="topicTitle">Topic Title</label> <input type="text" id="topicTitle" name="topicTitle" size="30" maxlength="100" class="textForm" tabindex="1" style="width:400px;" value="{$gridref}" spellcheck="true"/>
</td>
</tr>

{$mainPostForm}

<tr>
<td class=caption5>
<INPUT TYPE=SUBMIT VALUE="{$l_sub_post_tpc}" class=inputButton tabindex=5>
<input type=button value="Preview" class=inputButton onClick="prevThis();">
</td>
</tr>
</table>
<br>
</form>
</div>

<div align=center>
<table class=forums>
<tr>
<td class=caption3>

{$forumsList}

</td>
</tr>
</table>
</div>

<p align=right><a title="RSS Feed for this Forum" href="/discuss/syndicator.php?forum={$forum}" class="xml-rss">RSS</a></p>

<script language="JavaScript">
function prevThis(){
var pT,tT,cT;
pT=document.forms['postMsg'].elements['postText'].value;
if(document.forms['postMsg'].elements['topicTitle']) tT=document.forms['postMsg'].elements['topicTitle'].value;
else if(document.forms['postMsg'].elements['postTopic']) tT=document.forms['postMsg'].elements['postTopic'].value;
else tT='';
if(document.forms['postMsg'].elements['disbbcode'].checked) cT=1; else cT=0;
window.open('', 'cWin2', 'resizable=yes, scrollbars=yes, width=750, height=300, top=0, left=100');
document.forms['postMsgPrev'].elements['topicTitle'].value=tT;
document.forms['postMsgPrev'].elements['postText'].value=pT;
document.forms['postMsgPrev'].elements['disbbcode'].value=cT;
document.forms['postMsgPrev'].submit();
}
</script>
<form action="{$indexphp}" name=postMsgPrev method=post target="cWin2">
<input type=hidden name=postText>
<input type=hidden name=topicTitle>
<input type=hidden name=disbbcode>
<input type=hidden name=prevForm value=1>
</form>
