<div align=center>
<form action="{$bb_admin}" method=get name=searchForm>
<table class=tbTransparent>
<tr>
<td class=tbTransparent>
{$warning}
<br>
<span class=txtSm><b>{$pageNav}</b></span>
<br><br>
<input type=hidden name=action value=searchusers2>
<input type=text name=whatus size=25 maxlength=30 class=textForm value="{$whatus}">
<br><br>
{$whatDropDown}
<br><br>
<input type=submit value="{$l_searchUsers}" class=inputButton>
<br><br>

<ul>
{$Results}
</ul>

<br>
<span class=txtSm><b>{$pageNav}</b></span>
</td>
</tr>
</table>
</form>
</div>

