<script type="text/javascript">
<!--
function paste_strinL(strinL){
var input=document.postMsg.elements["postText"];
input.value=input.value+strinL;
return false;
}
//-->
</script>

<div align=center>

<table class=forums>
<tr>
<td width=25 class=caption3 align=center><img src="{$static_url}/img/!pix.gif" width=4 height=1 alt=""><img src="{$static_url}/img/forum_icons/{$forumIcon}" width=16 height=16 alt=""><img src="{$static_url}/img/!pix.gif" width=5 height=1 alt=""></td>
<td valign=top class=caption3><b><a title="Forum Listing" href="{$main_url}/{$indexphp}">{$sitename}</a></b> / <b>{$forumName}</b></td>
<td align=right valign=top width="40%" class=caption3><span class=txtSm>{$l_sortedBy}&nbsp;{$sortedByT}.&nbsp;<a title="Change sort order" href="{$main_url}/{$indexphp}action=vtopic&amp;forum={$forum}&amp;sortBy={$sortByNew}">{$l_sortBy}&nbsp;{$sortByT}</a></span></td>
</tr>
</table>

<table class=tbTransparent>
<tr><td class=tbTransparent><span class=txtSm><b>{$pageNav}</b></span></td></tr>
</table>

<table class=forums>
<tr>
<td width="25" class=caption4><img src="{$static_url}/img/!pix.gif" width=25 height=1 alt=""></td>
<td width="70%" class=caption4>{$l_topic}</td>
<td width="40" align=center class=caption4>{$l_replies}</td>
<td width="40" align=center class=caption4>&nbsp;{$l_views}&nbsp;</td>
<td width="15%" align=center class=caption4>{$l_author}</td>
<td width="15%" align=center class=caption4>{$l_lastAuthor}</td>
</tr>

{$list_topics}

</table>

<table class=tbTransparent>
<tr><td class=tbTransparent><span class=txtSm><b>{$pageNav}</b></span></td></tr>
</table>


</div>
<p align=right><a title="Gallery RSS feed" href="/discuss/syndicator.php?forum={$forum}" class="xml-rss">RSS</a></p>

<br/><br/><br/>

<p><a href="/login.php">Login</a> to Create a New Gallery</p>


