<tr align="center" class="{$bg}">
<td class="caption1"><img src="{$static_url}/img/topic_{$tpcIcon}.gif" width="16" height="16" alt=""/></td>
<td align="left" class="caption1">{$topic_reverse}<a title="View topic" href="{$linkToTopic}">{$topicTitle}</a> <small class="navCell">{$pageNavCell}</small></td>
<td class="caption1">{$numReplies}</td>
<td class="caption1"><span class=views>{$topic_views}</span></td>
<td class="caption1">{$topicAuthor}<br/><span class=txtSm>{$whenPosted}</span></td>
<td class="caption1">{$lastPoster}<br/><span class=txtSm>{$lastPostDate}</span></td>
</tr>
