/*
Geograph "Charcoal" Layout
Designed by Paul Dixon for Geograph Project Ltd
*/


/*
Global styles
*/
body
{
	font-family:Arial,Helvetica,sans-serif;
}

a img
{
	border:0;
}

.nowrap 
{

	white-space:nowrap;
}

a.hidelink {
	text-transform:lowercase;
	text-decoration:none;
	cursor:normal;
}

/*
banner div covers the entire top navigation area
*/
#banner
{
	width:759px;
	height:84px;
	background-image:url('banner.gif');
}

#banner h1
{
	display:none;
}

#banner a
{
	color:white;
}

#banner form
{
	margin:0;
	padding:0;
}

/*
breadcrumb area
*/
#breadcrumbs
{
	height:15px;
}

/*
quick search styling
*/
#search
{
	height:27px;
}

#searchbar
{
	font-family:Arial;
	float:right;
	font-size:8pt;
	color:white;
	margin-right:5px;
}

#q
{
	font-size:8pt;
	border-top:1px silver solid;

	border-left:1px silver solid;

	border-bottom:0;
	border-right:0;
	margin:0;

}

#b_sea
{
	border:0;
	width:65px;
	height:19px;
	background-image:url('b_sea.gif');
}

/*
profile bar - that strip of the banner with login, profile links etc
*/
#profile
{
	height:28px;

}

#profilebar
{
	font-family:Arial;
	float:right;
	font-size:8pt;
	color:white;
	margin-top:3px;
	margin-right:5px;
}

/*
tab div contains all the tabs - nicely positioned by just
floating it to the right underneath the profile and search divs
*/
#tabs
{
	height:29px;
	float:right;
	margin-right:5px;
}

/*
Tab technique borrowed from 
http://www.simplebits.com/notebook/2003/09/30/accessible_imagetab_rollovers.html
*/
#nav {
	margin: 0;
	padding: 0;
	height: 29px;
	list-style: none;
	display: inline;
	overflow: hidden;
	}

#nav li {
	margin: 0;
	padding: 0;
    list-style: none;
	display: inline;
	}

#nav a {
	float: left;
	padding: 29px 0 0 0;
	overflow: hidden;
	height: 0px !important;
	height /**/:29px; /* for IE5/Win only */
	}

#nav a:hover {
	background-position: 0 -29px;
	}

#nav a:active, #nav a.selected {
	background-position: 0 -58px;
	}

#t_hom a  {
	width: 79px;
	background: url(t_hom.gif) top left no-repeat;
	}
#t_map a  {
	width: 79px;
	background: url(t_map.gif) top left no-repeat;
	}
#t_sub a  {
	width: 79px;
	background: url(t_sub.gif) top left no-repeat;
	}
#t_dis a  {
	width: 79px;
	background: url(t_dis.gif) top left no-repeat;
	}
#t_sta a  {
	width: 79px;
	background: url(t_sta.gif) top left no-repeat;
	}
#t_hel a  {
	width: 79px;
	background: url(t_hel.gif) top left no-repeat;
	}

/*
main content
*/

#content
{
	width:759px;
}

#content h1
{
	font-family:Georgia,"Times New Roman",serif;
}
#content h2
{
	font-family:Georgia,"Times New Roman",serif;
}
#content h3
{
	font-family:Georgia,"Times New Roman",serif;
}

/*
footer
*/

#footer
{
margin-top:2em;
font-size:0.8em;
width:759px;
}

#footer a
{
	color:white;
	text-decoration:none;
}
#footer a:hover
{
	text-decoration:underline;
}

#footer_right
{
float:right;
margin-right:2em;
}

#footer_left
{
float:left;
margin-left:2em;
}

#footer span.unimportant
{
color:silver;
}

/*
Adaptation of rounded box technique from 
http://kalsey.com/2003/07/rounded_corners_in_css/
*/

img.corner {
   width: 12px;
   height: 12px;
   border: none;
   display: block !important;
}



div.round000 {
	background-color: #000;
	color: #fff;
}

div.round000 div.roundtl {
	background: url(b000_tl.gif) no-repeat top right;
	width:12px;
	height:12px;
}

div.round000 div.roundbl {
	background: url(b000_bl.gif) no-repeat top right;
	width:12px;
	height:12px;
}


div.round000 div.roundtop {
	background: url(b000_tr.gif) no-repeat top right;
}

div.round000  div.roundbottom {
	background: url(b000_br.gif) no-repeat top right;
}




div.round333 {
	background-color: #333;
	color: #fff;
}

div.round333 div.roundtl {
	background: url(b333_tl.gif) no-repeat top right;
	width:12px;
	height:12px;
}

div.round333 div.roundbl {
	background: url(b333_bl.gif) no-repeat top right;
	width:12px;
	height:12px;
}


div.round333 div.roundtop {
	background: url(b333_tr.gif) no-repeat top right;
}

div.round333  div.roundbottom {
	background: url(b333_br.gif) no-repeat top right;
}


div.round666 {
	background-color: #666;
	color: #fff;
}

div.round666 div.roundtl {
	background: url(b666_tl.gif) no-repeat top right;
	width:12px;
	height:12px;
}

div.round666 div.roundbl {
	background: url(b666_bl.gif) no-repeat top right;
	width:12px;
	height:12px;
}


div.round666 div.roundtop {
	background: url(b666_tr.gif) no-repeat top right;
}

div.round666  div.roundbottom {
	background: url(b666_br.gif) no-repeat top right;
}



div.roundf4f4f4 {
	background-color: #f4f4f4;
	color: black;
}

div.roundf4f4f4 div.roundtl {
	background: url(bf4f4f4_tl.gif) no-repeat top right;
	width:12px;
	height:12px;
}

div.roundf4f4f4 div.roundbl {
	background: url(bf4f4f4_bl.gif) no-repeat top right;
	width:12px;
	height:12px;
}


div.roundf4f4f4 div.roundtop {
	background: url(bf4f4f4_tr.gif) no-repeat top right;
}

div.roundf4f4f4  div.roundbottom {
	background: url(bf4f4f4_br.gif) no-repeat top right;
}

/*
styling for box innards
*/
div.infobox
{
margin-left:8px;
margin-right:8px;
}

div.infobox h1
{
	font-family:Georgia,"Times New Roman",serif;
	margin-top:0;
	font-size:1.2em;
	font-weight:normal;
}

div.infobox p
{
font-size:0.8em;
}

div.infobox a
{
color:white;
}



div.infobox_alt
{
margin-left:8px;
margin-right:8px;
}

div.infobox_alt h1
{
	font-family:Georgia,"Times New Roman",serif;
	margin-top:0;
	font-size:1.2em;
	font-weight:normal;
}

div.infobox_alt h2
{
	font-family:Georgia,"Times New Roman",serif;
	margin-top:0;
	font-size:1.2em;
	font-weight:normal;
}

div.infobox_alt li
{
font-size:0.8em;
}
div.infobox_alt a
{
color:blue;
}


div.titlebox
{
margin-left:8px;
margin-right:8px;
}
div.titlebox h1
{
	font-family:Georgia,"Times New Roman",serif;
	margin-top:0;
	margin-bottom:0;
	font-size:1.2em;
	font-weight:normal;
}
 

#photocount
{
	font-family:Georgia,"Times New Roman",serif;
	font-size:1.8em;
	text-align:center;
	font-weight:bold;
}

#photocount_title
{
	font-family:Georgia,"Times New Roman",serif;
	font-size:1.0em;
	text-align:center;
	font-weight:bold;
}

#call_to_action
{
	font-size:0.7em;
	text-align:center;
	margin-top:0.5em;
}

div.potdtitle
{
font-size:0.8em;
color:silver;
text-align:right;
margin-top:1em;
}

/* 
OS guidelines state we must place the "sponsored by" words
at least half the logo height away
*/
#sponsor
{
font-size:0.7em;
margin-top:15px;
margin-bottom:15px;
}
#sponsorlink
{
margin:10px;
}

/*---------------------------------------------------------------*
 * main content block
 *---------------------------------------------------------------*/

.content_photoblack
{
	background:black;
	position:relative;

	z-index:3;
	color:silver;
}
.content_photoblack a.text, .content_photoblack a.hidelink 
{
	color:silver;
}

.content_photoblack h2
{
	color:white;
	padding-left:10px;
	padding-top:10px;
	margin-bottom:0;
}

.content_photoblack h3
{
	margin-top:0;
	padding-left:10px;
	font-weight:normal;
	color:silver;
}

.content_photoblack .keywords {
	color:#666666;
	font-size: 0.8em;
	margin-top:2px;
	padding:2px;
}

.content_photoblack .interestBox {
	background-color:#333333;
	color:#bbbbbb;
	font-size:0.9em;
}

.content_photoblack a 
{
	color:#00CCCC;
}
.content_photoblack a:visited
{
	color:#99FFFF;
}

.content_photoblack  dl.picinfo dt
{
	border-bottom:1px solid #333333;
}

/*----------*/

.content_photogray
{
	background:gray;
	position:relative;
	color:silver;
}

.content_photogray a.text, .content_photogray a.hidelink 
{
	color:silver;
}

.content_photogray h2
{
	color:#D3D3D3;
	padding-left:10px;
	padding-top:10px;
	margin-bottom:0;
}

.content_photogray h3
{
	margin-top:0;
	padding-left:10px;
	font-weight:normal;
	color:silver;
}

.content_photogray .searchresults a
{
	color:silver;
}

.content_photogray .searchresults a:visited
{
	color:#999999;
}

.content_photogray .keywords {
	color:#999999;
	font-size: 0.8em;
	margin-top:2px;
	padding:2px;
}

.content_photogray .interestBox {
	background-color:#cccccc;
	color:#444444;
	font-size:0.9em;
}
.content_photogray .interestBox a {
	color:blue;
}
.content_photogray .interestBox a:visited {
	color:purple;
}

.content_photogray a 
{
	color:skyblue;
}
.content_photogray a:visited
{
	color:#00CCCC;
}

.content_photogray  dl.picinfo dt
{
	border-bottom:1px solid #888888;
}

/*----------*/

.content_photowhite
{
	background:white;
	position:relative;

	z-index:3;
	color:black;
}
.content_photowhite a.text, .content_photowhite a.hidelink  
{
	color:black;
}
.content_photowhite h2
{
	color:black;
	padding-left:10px;
	padding-top:10px;
	margin-bottom:0;
}

.content_photowhite h3
{
	margin-top:0;
	padding-left:10px;
	font-weight:normal;
	color:silver;

}

.content_photowhite .keywords {
	color:#cccccc;
	font-size: 0.8em;
	margin-top:2px;
	padding:2px;
}

.content_photowhite .interestBox {
	font-size:0.9em;
}

/*---------------------------------------------------------------*
 * Misc styles used in page
 *---------------------------------------------------------------*/
.nowrap 
{

	white-space:nowrap;
}
/* main content interior */
#content
{

}

#content h2
{
	margin-top:0px;
}

/* form styles */
#content form label
{
	font-size:0.8em;
}

span.formerror
{
	font-size:0.8em;
	color:red;
}

div.copyright
{
	font-size:0.7em; 
	color: gray;
	text-align:center;
	font-style:italic;
}

p.wordnet a
{
	white-space:nowrap;
	text-decoration: none;
}

p.wordnet a:hover
{
	text-decoration: underline
}

div.caption
{
	clear:left;
	font-size:0.8em
}
div.caption640
{
	clear:left;
	font-size:0.8em;
	margin-left:auto;
	margin-right:auto;
	width:640px
}
div.snippet640
{
	clear:left;
	font-size:0.8em;
	margin-left:auto;
	margin-right:auto;
	width:640px;
	text-align:left;
	padding-top:3px
}
div.statuscaption
{
	clear:left;
	font-size:0.7em;
	color:silver;
}
div.statuscaption a
{
	color:silver;
}
div.yeardisplay {
	top:-6.3em;
	float:right;
	position:relative;
	font-size:0.8em;
	height:0em;
}
div.yeardisplay .year { 
	font-size:3em;
	line-height:0.5em
}
div.hits {
	text-align:right;
	font-size:0.8em
}

dl.browselist
{
	
}

dl.browselist dt
{
	font-weight:bold;
	border-bottom:1px solid #dddddd
}

dl.browselist dd
{
	margin-left:5px;
	padding-bottom:15px
}

div.rastermap {
	border: 1px solid #a9a9a9;
	padding: 4px;
	float:left;
	z-index:5;
	padding:10px
}

div.ccmessage
{
	width:inherit;
	text-align:center;
	padding:3px;
	font-size:0.9em
}

div.ccmessage img
{
	vertical-align: middle
}

/* styling for a full size portrait photo*/
div.photoportrait
{
	padding:10px;
	text-align:center;
	margin:10px;
}

/* styling for a full size landscape photo*/
div.photolandscape
{
	padding:10px;
	text-align:center;
	margin:10px;
}

.img-shadow img {
	/*
	width:100%;
	height:100%;
	max-width:640px;
	max-height:640px;
	*/
  	border: 1px solid #a9a9a9;
  	padding: 4px;
  }


/* styling for a 66% resized photo*/
div.photo66
{
	width:442px;
	padding:10px;
	border: silver 1px solid;
	text-align:center;
	margin:10px;
}



/* styling for a 33% resized photo*/
div.photo33
{
	width:230px;
	padding:10px;
	border: silver 1px solid;
	text-align:center;
	margin:10px;
	position:relative;
}

/* styling for a guide photo*/
div.photoguide
{
	width:650px;
	padding:10px;
	border: silver 1px solid;
	text-align:center;
	margin:10px;
	position:relative;
}


/*---------------------------------------------------------------*
 * report table
 *---------------------------------------------------------------*/

table.report thead tr
{
	background:black;
}
table.report thead tr td
{
	color:white;
	padding:0.2em;
	font-weight:bold;
}

table.report thead tr td a
{
	color:white;
}

table.report tbody tr td
{
	padding-left:0.2em;
	padding-right:0.2em;
}

table.report tbody tr.totalrow
{
	background: silver;
}

table.report tbody tr.totalrow th
{
	border-top: 1px solid black;
}

/*---------------------------------------------------------------*
 * form table
 *---------------------------------------------------------------*/

table.formtable td
{
	vertical-align:top;
}



table.formtable div.fieldnotes
{
	font-size:0.8em;
	color:#777799;
}

/*---------------------------------------------------------------*
 * picture info
 *---------------------------------------------------------------*/

div.picinfo
{
	font-size:0.8em;
	padding:5px;
	position:relative;
}

div.picinfo td
{
	vertical-align:top;
}

dl.picinfo
{
	padding-left:15px;
}

dl.picinfo dt
{
	font-weight:bold;
	border-bottom:1px solid #dddddd;
}

dl.picinfo dd
{
	margin-left:25px;
	padding-bottom:10px;
}

.buttonbar {
	background:#bbbbbb;
	color:black;
	margin-top:10px;
	margin-bottom:10px;
}
.buttonbar a 
{
	color:blue;
}
.buttonbar a:visited
{
	color:purple;
}

/*---------------------------------------------------------------*
 * tickets
 *---------------------------------------------------------------*/

div.ticket
{
	background:#f0f0f0;
	margin-bottom:10px;
	border:1px solid #d0d0d0;
	font-size:0.7em;
}

div.ticket div.ticketbasics
{
	background:#d0d0d0;
	padding-left:5px;
}

div.ticket div.ticketactions input
{
	font-size:0.8em
}

div.ticket div.ticketnotes
{
	padding-left:5px;
	font-style:italic;
}

div.ticket div.ticketnote
{
	margin-bottom:10px;
}

div.ticket div.ticketfields
{
	padding-left:5px;
}

div.ticket div.ticketnotehdr
{
	font-style:normal;
}
/*---------------------------------------------------------------*
 * accept/reject buttons
 *---------------------------------------------------------------*/

input.accept
{
	font-size:0.7em;
	background:#88aa88;
}

input.reject
{
	font-size:0.7em;
	background:#aa8888;
}

.moderatedlabel
{
	color:#449944;
	font-weight:normal;
	font-size:0.7em;
}

/*---------------------------------------------------------------*
 * statisitics area
 *---------------------------------------------------------------*/

table.statstable td
{
	text-align:right;
}



/*---------------------------------------------------------------*
 * buttons for map nav
 *---------------------------------------------------------------*/

div.map div.cnr
{
	float:left;
	width:10px;
	height:10px;
	background:#000066;
	font-size:0;
}

div.map div.side
{
	float:left;
	height:10px;
	width:10px;
	background:#000066;
	line-height:0;
	text-align:center;
}


div.map div.side a
{
	display:block;
	height:100%;
}

div.map div.side a:hover
{
	background-color:#660066;
}

div.map div.inner
{
	float:left;
	background:#6574FF;
}

div.map div.inner img
{
	float:left;
}


/*---------------------------------------------------------------*
 * Search Results
 *---------------------------------------------------------------*/

.xml-kml {font: bold 10px Verdana, sans-serif; padding: 0 0.5em; border: 1px solid;
  text-decoration: none;
  background: #6AC23E; color: #FFF; border-color: #CAEABA #356020 #1B3010 #9CD77F;}

.xml-rss {font: bold 10px Verdana, sans-serif; padding: 0 0.5em; border: 1px solid;
  text-decoration: none;
  background: #F60; color: #FFF; border-color: #FFC8A4 #7D3302 #3F1A01 #FF9A57;}
  
.xml-geo {font: bold 10px Verdana, sans-serif; padding: 0 0.5em; border: 1px solid;
  text-decoration: none;
  background: #009900; color: #FFF; border-color: #FFC8A4 #7D3302 #3F1A01 #FF9A57;}

.xml-gpx {font: bold 10px Verdana, sans-serif; padding: 0 0.5em; border: 1px solid;
  text-decoration: none;
  background: #000099; color: #FFF; border-color: #FFC8A4 #7D3302 #3F1A01 #FF9A57;}



.navCell {
	white-space:nowrap;
	text-align:right;
	float:right;
}

.pageNav {
	background-color:#DDDDDD;
	padding: 5px;
	font-size: 1.1em;
	margin: 2px;
}

.navCell .pageNav {
	background-color:#E3E3E3;
	padding: 2px;
	font-size: 1em;
	margin: 0px;
	width: 1.6em;
	text-align: center;
}

.pageNavSelected {
	background-color: #A9A9A9;
}

.tabHolder {
	line-height:1.4em;
}

.tabSelected {
	background-color:#dddddd;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	padding:3px;
	font-weight:bold;
}

.tab {
	background-color:#eeeeee;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding:3px;
}

.interestBox {
	padding:5px;
	background:#dddddd;
	position:relative;
	color:black;
}

.innerInterestBox {
	float:left;
	position:relative;
}

.lessIndent {
	margin-left:0;
	padding:0 0 0 1em;
}

h2.titlebar {
	background-color:#D3D3D3;
	padding:5px;
}

/*---------------------------------------------------------------*
 * Form layout
 *---------------------------------------------------------------*/

form.simpleform {
  margin: 0;
  padding: 0;
  font-size: 100%;
  min-width: 560px;
  max-width: 620px;
  width: 590px;
}

form.simpleform fieldset {
  clear: both;
  font-size: 100%;
  border-color: #000000;
  border-width: 1px 0 0 0;
  border-style: solid none none none;
  padding: 10px;
  margin: 0 0 0 0;
}

form.simpleform fieldset legend {
  font-size: 150%;
  font-weight: normal;
  color: #000000;
  margin: 0 0 10px 0;
  padding: 0 5px;
}

form.simpleform label {
  font-size: 100%;
  
  width:10em;
  display:block;
  float:left;
}

form.simpleform div.field {
 margin-bottom:16px;
}

form.simpleform div.fieldnotes {

  background-repeat: no-repeat;
  background-position: top left;
  padding: 5px 5px 5px 5px;
  
  background-color: #ffffe1;
  color:#666666;
 
   margin-left:10em;
  
 font-size:0.8em;
}

form.simpleform div.formerror
{
   border:2px red solid;
   padding:5px;
   
}

form.simpleform p.error
{
	color:#880000;
	margin-top:0;
	font-weight:bold;
}


form.simpleform div fieldset {
  clear: none;
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
  margin: 0 0 0 8em;
  padding: 0 5px 5px 5px;
  width: 20em;
}

form.simpleform div fieldset legend {
  font-size: 100%;
}

form.simpleform div.required fieldset legend {
  font-weight: bold;
}

form.simpleform fieldset fieldset label {
  font-size: 100%;
  
  width:auto;
  display:inline;
  float:none;
}

form.simpleform textarea
{
	display:inline;
	width:30em;
}
  
/*---------------------------------------------------------------*
 * Explore Style Bullet List
 *---------------------------------------------------------------*/
  
  
ul.explore li {
	border:1px dotted #dddddd;
	background-color:#eeeeee;
	padding:10px;
}

ul.explore {
	list-style-image:url('/templates/basic/img/cameraicon.gif');
}

ul.explore li ul {
	list-style-type:disc;
	list-style-image:none;
}

ul.explore li ul li {
	border:none;
	padding:2px;
}

ul.content {
	padding:0 0 0 0; 
	border-bottom: 1px solid lightgrey;
	list-style: none;
}
ul.content li {	
	padding:3px; 
	border-top: 1px solid lightgrey
}
 