body
{
	font-family:Georgia, Verdana, Arial;
	margin:0px;
	background: #eeeeff;
	font-size: 1em;
}

/* no border on hyperlinked images*/
a img
{
	border:0;
}

/*---------------------------------------------------------------*
 * title header
 *---------------------------------------------------------------*/

/* header content placement*/
#header_block
{
	margin:0px;
	padding-bottom:1em;
}

/* header content interior */
#header
{
	background:black;
	border-bottom:2px solid black;
	
}

#header h1
{
	margin:0px;
	font-size:1.5em;
	
}

#header h1 a
{
	text-decoration:none;
	color:black;
	
}

/*---------------------------------------------------------------*
 * search block (incorporates login/register links)
 *---------------------------------------------------------------*/

#search_block {
	display:none;
}

#search
{
	color:white;
	font-weight:bold;
}

#search form
{
	margin:0;
}

#login
{
	font-size:0.8em;
	color:white;
	font-weight:bold;
}

#login a
{
	color: #aaaaaa;
}

#login a:hover
{
	color: #eeeeee;
}

/*---------------------------------------------------------------*
 * navigation block
 * Kudos to http://bluerobot.com/web/layouts/default.asp
 *---------------------------------------------------------------*/

#nav_block {
	position:absolute;
	top:48px;
	left:0.4em;
	width:11em;
	padding:5px;
	background-color:white;
	border:2px solid black;
	
	/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:10em;
	}
/* "be nice to Opera 5". */
body>#nav_block {width:10em;}


#nav
{
	font-size:0.8em;
}

#nav ul
{
	margin:0;
	padding:0 0 0 1em;
}


#navlinks
{
	display:none;
}

/*---------------------------------------------------------------*
 * main content block
 *---------------------------------------------------------------*/

/* main content placement*/
#maincontent_block
{
	margin:0.2em 0.2em 0.2em 12em;
	padding:10px;
	
	border:2px solid black;
	background:white;	
}

/* main content interior */
#maincontent
{

}

#maincontent h2
{
	margin-top:0px;
}

/* form styles */
#maincontent form label
{
	font-size:0.8em;
}

span.formerror
{
	font-size:0.8em;
	color:red;	
}

div.copyright
{
	font-size:0.8em;
	color: silver;
	
}
div.caption
{
	font-size:0.8em;
}

/* styling for a full size portrait photo*/
div.photoportrait
{
	width:500px;
	padding:10px;
	border: silver 1px solid;
	text-align:center;
	margin:10px;
}

/* styling for a full size portrait photo*/
div.photolandscape
{
	width:660px;
	padding:10px;
	border: silver 1px solid;
	text-align:center;
	margin:10px;
}



/* styling for a 66% resized photo*/
div.photo66
{
	width:442px;
	padding:10px;
	border: silver 1px solid;
	text-align:center;
	margin:10px;
}



/* styling for a 33% resized photo*/
div.photo33
{
	width:233px;
	padding:10px;
	border: silver 1px solid;
	text-align:center;
	margin:10px;
}

/*---------------------------------------------------------------*
 * inline sidebar
 *---------------------------------------------------------------*/

div.contentsidebar_block
{
	float:right;
	width:20em;
	background:#ddffdd;
	padding:0.5em;
}

div.contentsidebar ul
{
	margin:0;
	padding:0 0 0 1em;
}

div.contentsidebar li
{
	font-size:0.8em;
}

div.contentsidebar h3
{
	margin-top:0;
}

/*---------------------------------------------------------------*
 * report table
 *---------------------------------------------------------------*/

table.report thead tr
{
	background:black;
}
table.report thead tr td
{
	color:white;
	padding:0.2em;
	font-weight:bold;
}

table.report tbody tr td
{
	padding-left:0.2em;
	padding-right:0.2em;
}

/*---------------------------------------------------------------*
 * form table
 *---------------------------------------------------------------*/

table.formtable td
{
	vertical-align:top;
}



table.formtable div.fieldnotes
{
	font-size:0.8em;
	color:#777799;
}

/*---------------------------------------------------------------*
 * accept/reject buttons
 *---------------------------------------------------------------*/

input.accept
{
	font-size:0.7em;
	background:#88aa88;
}

input.reject
{
	font-size:0.7em;
	background:#aa8888;
}

/*---------------------------------------------------------------*
 *footer block
 *---------------------------------------------------------------*/

/* footer placement */
#footer_block
{
	margin:0px;
	padding:1px;
}

/* main content interior */
#footer p
{
	font-size:0.7em;
	text-align:right;
	margin-top:0;
	margin-bottom:0;
	
}

#footer a
{
	text-decoration:none;
}

#footer a:hover
{
	text-decoration:underline;
}
