@media print {
	.no_print {
		display: none;
	}
	
	/* no border on hyperlinked images*/
	a Img
	{
		border:0;
	}
	div.ccmessage
	{
		width:inherit;
		text-align:center;
		padding:1px;
		font-size:0.9em;
	}
	
	div.ccmessage img
	{
		vertical-align: middle;
	}
	
	/* styling for a full size portrait photo*/
	div.photoportrait
	{
		width:inherit;
		padding:10px;
		text-align:center;
		margin:10px;
	}
	
	/* styling for a full size landscape photo*/
	div.photolandscape
	{
		width:inherit;
		padding:10px;
		text-align:center;
		margin:10px;
	}
	
	.img-shadow img {
		border: 1px solid #a9a9a9;
		padding: 4px;
	}

}
@media screen {
	.print_only {
		display: none;
	}
}
